.content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: flex-grow 1.5s, opacity 0.5s, box-shadow 0.5s, background-color 2s;
    padding: 10px !important;
    border-radius: 10px;
    cursor: pointer;
}

.content-container:hover {
    box-shadow: 3px 3px;
    opacity: 0.9;
}

.tab-title {
    font-weight: bold;
    font-size: 1.5em;
}

.content {
    border-radius: 10px;
    flex-grow: 1;
    transition: transform 2s, background-color 2s;
    transform-origin: top left;
    overflow: hidden;
}
